<div class="flash-messages" ng-hide="messages.length == 0">
    <li ng-repeat="message in messages" ng-class="message.style">{{ message.text }}</li>
  </ul>
</div>
<div class="user row">
  <div class="sidebar col-md-2">
    <div class="avatar row">
      <img src="http://placekitten.com/150/150" class="text-center"/>
    </div>
    <div class="row menu">
      <ul>
        <li><a href="#/props/new?uid={{user.id}}">Give Props</a></li>
        <li><a href="#/users/{{user.id}}/edit">Edit Profile</a></li>
        <li><a href="#/users/{{user.id}}/change_pass">Change Password</a></li>
      </ul>
    </div>
  </div>
  <div class="profile col-md-10">
    <h1>Edit Profile</h1>
    <form>
      <label for="first_name">First Name:
      <input type="text" name="first_name" ng-model="user.first_name" /><br />
      <label for="last_name">Last Name:
      <input type="text" name="last_name" ng-model="user.last_name" /><br />
      <label for="email">Email:
      <input type="text" name="email" ng-model="user.email" /><br />
      <label for="position">Position:
      <input type="text" name="position" ng-model="user.position" /><br />
      <button type="submit" class="btn" ng-click="save()">Save</button>
      <a href="#/users/{{user.id}}" class="btn">Cancel</a>
    </form>
  </div>
</div>
