<div class="user row">
  <div class="sidebar col-md-2">
    <div class="avatar row">
      <img src="http://placekitten.com/150/150" class="text-center"/>
    </div>
    <div class="row menu" ng-show="isAllowed('owner')">
      <ul>
        <li ng-show="isAllowed('owner_or_admin')"><a href="#/users/{{user.id}}/goals/new">Add New Goal</a></li>
        <li ng-show="isAllowed('owner_or_admin')"><a href="#/users/{{user.id}}/edit">Edit Profile</a></li>
        <li ng-show="isAllowed('owner')"><a href="#/users/{{user.id}}/change_pass">Change Password</a></li>
      </ul>
    </div>
  </div>
  <div class="profile col-md-10">
    <div class="flash-messages" ng-hide="messages.length == 0">
        <ul>
          <li ng-repeat="message in messages" ng-class="message.style">{{ message.text }}</li>
        </ul>
      </ul>
    </div>

    <h1>{{ user.first_name }} {{ user.last_name }}, {{ user.position }}</h1>
    <br />
    <div class="goals col-md-11">
      <h3>Goals:</h3>
      <accordion close-others="oneAtATime">
        <accordion-group ng-repeat="goal in goals" heading="{{goal.name}}">
          <div class="col-md-5">
            <p class="goal-description">{{ goal.description }}</p>
          </div>
          <div class="col-md-5">
            <p class="prop-count">Number of Props: <span class="count">{{ goal.props_count }}</span></p>
          </div>
          <div class="col-md-2">
            <p>
              <a href="#/props/new?uid={{ user.id }}&gid={{ goal.id }}">Give Props</a> |
              <a ng-click="open(1)">Edit Goal</a>
            </p>
          </div>
        </accordian-group>
      </accordion>
    </div>
    <div class="badges col-md-11" ng-show="isAllowed('owner')">
      <h3>Badges:</h3>
      <p ng-if="badges.length == 0">You have no badges!</p>
    </div>
  </div>
</div>
