<div class="user row">
  <div class="sidebar col-md-2">
    <div class="avatar row">
      <img ng-src="http://props2me.s3.amazonaws.com/images/avatars/{{user.first_name.toLowerCase()}}_{{user.last_name.toLowerCase()}}.jpg" class="text-center" width="150"/>
    </div>
    <div class="row menu" ng-show="isAllowed('owner')">
      <ul>
        <li ng-show="isAllowed('owner_or_admin')"><a href="#/users/{{user.id}}/goals/new">Add New Goal</a></li>
        <li ng-show="isAllowed('owner_or_admin')"><a href="#/users/{{user.id}}/edit">Edit Profile</a></li>
        <li ng-show="isAllowed('owner')"><a href="#/users/{{user.id}}/change_pass">Change Password</a></li>
      </ul>
    </div>
  </div>
  <div class="profile col-md-10">
    <div class="flash-messages" ng-hide="messages.length == 0">
        <ul>
          <li ng-repeat="message in messages" ng-class="message.style">{{ message.text }}</li>
        </ul>
      </ul>
    </div>

    <h1>{{ user.first_name }} {{ user.last_name }}, {{ user.position }}</h1>
    <br />
    <div class="goals col-md-11">
      <h3>Goals:</h3>
      <div ng-if="goals.length > 0">
        <accordion close-others="oneAtATime">
          <accordion-group ng-repeat="goal in goals" heading="{{goal.name}}">
            <div class="col-md-5">
              <p class="goal-description">{{ goal.description }}</p>
            </div>
            <div class="col-md-3">
              <p class="prop-count">Number of Props: <span class="count">{{ goal.props_count }}</span></p>
            </div>
            <div class="col-md-4">
              <p class="pull-right">
                <a href="#/props/new?uid={{ user.id }}&gid={{ goal.id }}">Give Props</a>
                <span ng-show="isAllowed('owner_or_admin')">
                  | <a ng-click="open(goal.id)">Edit Goal</a>
                </span>
                <span ng-show="isAllowed('owner')">
                  | <a href="#/users/{{ user.id }}/goals/{{ goal.id }}">Details</a>
                </span>
              </p>
            </div>
          </accordian-group>
        </accordion>
      </div>
      <div ng-if="goals.length == 0">
        <p>You have no goals!</p>
      </div>
    </div>
    <div class="badges col-md-11" ng-show="isAllowed('owner')">
      <h3>Badges:</h3>
      <p ng-if="badges.length == 0">You have no badges!</p>
    </div>
  </div>
</div>
