<%= form_for(@props_user) do |f| %>
  <% if @props_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@props_user.errors.count, "error") %> prohibited this props_user from being saved:</h2>

      <ul>
      <% @props_user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
