<h1>Listing props_users</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @props_users.each do |props_user| %>
      <tr>
        <td><%= link_to 'Show', props_user %></td>
        <td><%= link_to 'Edit', edit_props_user_path(props_user) %></td>
        <td><%= link_to 'Destroy', props_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Props user', new_props_user_path %>
